@page
@model SimbirsfotStaging10.Controllers.PlatformsController;


    <form method="post" asp-controller="Platforms" asp-action="List">
      <div  method="post" asp-controller="Platforms" asp-action="List"></div>
    </form>