@model SimbirsfotStaging10.BLL.DTO.EquipmentDTO

@{
    <h2 class="text-center> mb-5">Добавление новой карты</h2>
    <form method="post" asp-controller="Card" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Name">Название предмета экипировки на прокат</label><br />
            <input asp-for="Name" type="text" class="form-control col-3" placeholder="Название предмета" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Type">Тип предмета экипировки на прокат</label><br />
            <select asp-for="Type" type="text" name="Тип предмета">
                <option value="">Выберите тип оборудования</option>
                <option value="Лыжи">Лыжи</option>
                <option value="Сноуборд">Сноуборд</option>
                <option value="Тюбинг">Тюбинг</option>
                <option value="Защита">Защита</option>
            </select>
            <span asp-validation-for="Type"></span>
        </div>

        <div class="form-group">
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Добавить оборудование</button>
            <button asp-action="List" class="btn btn-light">Отмена</button>
        </div>
    </form>
}
