

<div class="row align-items-center no-gutters mb-4 mb-lg-5">
	<div class="col-xl-8 col-lg-7">
		<img class="img-fluid mb-3 mb-lg-0 img-thumbnail" src="~/img/ski.jpg" alt="">
	</div>
	<div class="col-xl-4 col-lg-5">
		<div class="featured-text text-center text-lg-left">
			<h4 class="text-white mb-4">Ski resort</h4>
			<p class="text-white mb-4">
				Duis ultrices neque velit, eget imperdiet ex consectetur elementum. Integer vehicula, neque eu efficitur aliquet,
				augue elit dignissim enim, eget dictum enim dolor malesuada erat. Fusce bibendum augue eget efficitur mattis. Morbi fermentum augue in odio egestas,
				eu pulvinar massa luctus. Nulla pellentesque arcu quis enim tristique, ac tristique leo sollicitudin. Sed sed placerat magna. Mauris consequat mollis arcu,
				nec ullamcorper purus vulputate a.
			</p>
		</div>
	</div>
</div>



