@*page*@
@using SimbirsfotStaging10.DAL.Entities
@model IEnumerable<Platform>
@{
    ViewBag.Title = "Склоны раз";
}
<h1>@ViewBag.Title</h1>
<h2> Все Склоны</h2>
@{
    foreach (var platfoms in Model)
    {
        <div>
            <h2>Вид склона: @platfoms.Name</h2>
        </div>
    }
}


<p>Тут будут склоны "Вася закачаешься!"</p>
